---
import Layout from "../layouts/Default.astro";
const title = "Home";
---

<Layout title={title}>
  <div class="hero is-fullheight is-center has-top-bg">
    <img class="top-bg-alt" src="/img/bg/top-bg-alt.svg" alt="" />

    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered mt-6">
          <div class="column">
            <h1 class="title is-1 is-bold">Innovate fearlessly, with us</h1>
            <p
              class="subtitle is-5 mx-auto max-w-5 b-centered-tablet-p text-medium"
            >
              We help businesses unleash their full potential
              <!-- Product / Strategic Advice, Technology and Private Capital -->
            </p>
            <div class="buttons">
              <a class="button is-primary is-medium is-raised" href="/advisory">Discover</a>
              <a class="button is-primary is-outlined is-medium" href="/technology">Build Together</a>
            </div>
            <img
              class="hero-image-center mx-auto py-4"
              src="/img/vectors/ok.svg"
              alt="Hero image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

</Layout>
